**/.DS_Store
**/.coverage
**/.coverage.*
**/__pycache__
*.db
*.pt
*.py[cod]
*.pyc
*.wav
.env
.idea/
.mypy_cache/
.venv
.web
Pipfile
Pipfile.lock
__pycache__/
assets/external/
benchmarks/dataset
benchmarks/lfwe
benchmarks/outputs
benchmarks/results
build/
deepface.egg-info/
dist/
ds_model*pkl
pictures
reflex.db
tests/*.csv
tests/*.ipynb
tests/dataset/*.pkl
venv
meta.json
