.env
*.wav
*.pt
**/.DS_Store
**/.coverage
**/.coverage.*
**/__pycache__
*.db
*.py[cod]
*.pyc
.idea/
.mypy_cache/
.venv
.web
Pipfile
Pipfile.lock
__pycache__/
assets/external/
benchmarks/dataset
benchmarks/lfwe
benchmarks/outputs
benchmarks/results
build/
deepface.egg-info/
dist/
ds_model*pkl
reflex.db
tests/*.csv
tests/*.ipynb
tests/dataset/*.pkl
venv
venv
pictures
